{% extends 'master.html' %}
{% block title %}
persons list
{% endblock %}


{% block content %}
<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4"> 

{% for a in persons %}

<div class="col m-5" >
<div class="card" style="width: 18rem;">
 <!-- {% load static %} -->
  <img width="60%" height="60%" src="{% static 'poll/images/c.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ a.name }}</h5><br><br>
    <a href="perdetails/{{ a.id }}" class="btn btn-primary">Details</a>
  </div>
</div>
</div>


{% endfor %}
</div></div>

<a href="/">Go to the main page</a>

<div class="container text-center">
  <video width="50%" height="50%" autoplay muted src="{% static 'poll/videos/vid.mp4 '%}"></video>
</div>

{% endblock %}



